<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= simple_form_for [@lesson.subject.course, @lesson.subject, @lesson, @quiz]  do |f| %>
      <%= f.input :title, placeholder: "Quiz title" %>

      <%= f.simple_fields_for :questions, @question do |question| %>
        <%= question.input :title, placeholder: "Question title" %>
        <%= question.input :score %>
        <%= question.input :is_true %>
      <% end %>
      <%= f.simple_fields_for :questions, @question do |question| %>
        <%= question.input :title, placeholder: "Question title" %>
        <%= question.input :score %>
        <%= question.input :is_true %>
      <% end %>
      <%= f.simple_fields_for :questions, @question do |question| %>
        <%= question.input :title, placeholder: "Question title" %>
        <%= question.input :score %>
        <%= question.input :is_true %>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
