<div class="container-fluid navbar-moodev">
  <div class="row p-3">
    <div class="col-sm-12 d-flex justify-content-between align-items-center">
      <%= link_to root_path do %>
        <%= image_tag "https://res.cloudinary.com/fabiobarboza7/image/upload/moodev-weblogo-pelotas.png", class: 'logo' %>
      <% end %>
      <nav class="nav-a mx-2 d-none d-sm-block">
        <%= link_to "Home", root_path, class: "px-2"%>
        <%= link_to "Blog", blogs_path, class: "px-2"%>
        <% if request.env['PATH_INFO'] == '/'%>
          <%= link_to "Cursos", "#courses", class: "px-2"%>
        <% else %>
          <%= link_to "Cursos", root_path(:anchor => "courses"), class: "px-2"%>
        <% end %>
        <% if request.env['PATH_INFO'] == '/'%>
          <%= link_to "Contato", "#contact", class: "px-2"%>
        <% else %>
          <%= link_to "Contato", new_contact_path, class: "px-2"%>
        <% end %>
        <%#= link_to "Videos", "#videos", class: "px-2"%>
        <%= link_to "https://api.whatsapp.com/send?phone=5553984541340&text=Ol%C3%A1,%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20curso.", class: "px-2" do %>
          Envie um WhatsApp
          <i style="color: #0EC144;" class="fab fa-whatsapp"></i>
        <% end %>
        <%= link_to "Aula Grátis", aula_gratis_path, class: "px-2 text-yellow"%>
        <span class="dropdown-custom pl-3">
          <span class="btn btn-sm btn-outline-dark dropbtn" onclick="myFunction()">
            Acesso do Aluno
          </span>
          <div id="myDropdown" class="dropdown-menu dropdown-content-custom dropdown-menu-right" style="min-width: 15rem;">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "px-4 py-3 form-group"}) do |f| %>
              <% if !user_signed_in? %>
                <div class="form-inputs">
                  <%= f.input :login, required: false, autofocus: true, class: 'form-control', label: 'Login', placeholder: 'usuário ou email' %>
                  <%= f.input :password, required: false, input_html: { autocomplete: "current-password" }, class: 'form-control', label: 'Senha', placeholder: 'senha' %>
                  <%= f.input :remember_me, class: 'form-control', label: 'Lembrar senha', as: :boolean if devise_mapping.rememberable? %>
                </div>
              <% else %>
                <div class="form-inputs d-flex justify-content-between align-items-center mb-3">
                  <%= cl_image_tag(current_user.photo, class: 'avatar-mini') %>
                  <%= current_user.first_name %>
                </div>
                <div class="form-inputs">
                  <i class="fas fa-briefcase"></i>
                  <%= link_to "Dashboard", dashboards_path%>
                </div>
                <div class="form-inputs">
                  <i class="fas fa-user-edit"></i>
                  <%= link_to "Editar perfil", edit_user_registration_path(current_user)%>
                </div>
              <% end %>
              <div class="form-actions mt-3">
                <% if user_signed_in? %>
                  <%= link_to "Sair", destroy_user_session_path, class: 'btn btn-danger btn-block', method: :delete %>
                <% else %>
                  <%= f.button :submit, "Login", class: 'btn btn-primary btn-block' %>
                  <%#= render "devise/shared/links" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </span>
      </nav>
      <div class="dropdown-custom d-block d-sm-none" onclick="myFunctionXs()">
        <a class="fas fa-bars fa-2x">
        </a>
        <div id="myDropdownXs" class="dropdown-menu dropdown-content-custom dropdown-menu-right">
          <%= link_to "Home", root_path, class: "dropdown-item"%>
          <%= link_to "Blog", blogs_path, class: "dropdown-item"%>
          <%= link_to "Cursos", "#courses", class: "dropdown-item"%>
          <%#= link_to "Videos", "#videos", class: "dropdown-item"%>
          <%= link_to "Contato", "#contact", class: "dropdown-item"%>
          <%= link_to "Envie um WhatsApp", "https://api.whatsapp.com/send?phone=5553984541340&text=Ol%C3%A1,%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20curso.", class: "px-2 dropdown-item"%>
          <%= link_to "Aula Grátis", aula_gratis_path, class: "dropdown-item text-yellow"%>
          <div class="mt-1"></div>
          <%= link_to "Acesso do Aluno", new_user_session_path, class: "dropdown-item dropdown-divider-color"%>
        </div>
      </div>
    </div>
  </div>
</div>
