<div class="container-fluid navbar-moodev">
  <div class="row p-3">
    <div class="col-sm-12 d-flex justify-content-between align-items-center">
      <%= image_tag "http://res.cloudinary.com/fabiobarboza7/image/upload/moodev-weblogo-pelotas.png", class: 'logo' %>
      <nav class="nav-a">
        <%= link_to "Home", "#", class: "px-2"%>
        <%= link_to "Blog", "#", class: "px-2"%>
        <%= link_to "Cursos", "#", class: "px-2"%>
        <%= link_to "Videos", "#", class: "px-2"%>
        <%= link_to "Contato", "#", class: "px-2"%>
        <%= link_to "Envie um WhatsApp", "#", class: "px-2"%>
        <%= link_to "Aula Grátis", "#", class: "px-2"%>
        <%= link_to "Acesso do Aluno", "#", class: "px-2"%>
      </nav>
    </div>
  </div>
</div>
