<nav id="sidebar" style="background-color: #008DD5;">
  <%= link_to course_subject_lessons_path(@subject.course.slug, @subject) do %>
    <div class="sidebar-header-course">
      <%= link_to course_subjects_path(@subject.course) do %>
        <div class="d-flex justify-content-between align-items-center">
          <i class="fas fa-chevron-left mr-3"></i>
          <h3 class="mb-0"><%= @subject.title %></h3>
        </div>
      <% end %>
    </div>
  <% end %>
  <ul class="list-unstyled components">
    <% @lessons.each do |lesson| %>
      <li>
        <%= link_to  course_subject_lesson_path(lesson.subject.course.slug, lesson.subject.slug, lesson), remote: true do %>
          <%= lesson.title %>
          <% if lesson.quizzes.any? %>
            <% count = 0 %>
            <ul class="p-3 bg-opacity ml-2">
              <% lesson.quizzes.each do |quiz| %>
                  <li class="quiz-size d-flex justify-content-between align-items-center">
                    <span class="text-dots">Quiz - <%= quiz.title %></span>
                    <% if quiz.user_answers.where(user: current_user).any? %>
                    <% is_true = quiz.user_answers.where(user: current_user).first.is_true? ? true : false %>
                      <% if is_true %>
                        <i class="fas fa-check-circle color-lightgreen"></i>
                      <% elsif is_true == false %>
                        <i class="fas fa-times-circle color-lightred"></i>
                      <% end %>
                    <% else %>
                      <i class="fas fa-question-circle text-white"> </i>
                      <% count = count + 1 %>
                    <% end %>
                  </li>
                  <div class="lesson-horizontal-line"></div>
              <% end %>
            </ul>
            <% if count != 0 %>
              <p class="quiz-size pl-5 p-0 m-0">restam <span class="color-lightred"><%= count %></span> <%= count > 1? "Quizzes" : "Quiz" %></p>
            <% end %>
          <% end %>
        <% end %>
      </li>
      <% if current_user.admin? %>
        <%= simple_form_for [@subject.course, @subject, lesson] do |f| %>
          <%= f.input :position, label: false, placeholder: 'Digite um índice', input_html: {value: lesson.position} %>
          <%= f.submit 'Atualizar Índices', class: 'btn btn-info' %>
        <% end %>
      <% end %>
    <% end %>
    <div class="horizontal-line"></div>
    <li><a>Meus Arquivos <i class="fas fa-file"></i></a></li>
    <li>
      <ul>
        <% @files.each do |file| %>
          <a class="d-flex justify-content-between align-items-center btn btn-primary" href="<%= file.file %>" download="true" target="_blank"><i class="fas fa-download"></i><%= file.title %> - Baixar</a>
        <% end %>
      </ul>
    </li>
    <div class="horizontal-line"></div>
    <li>
      <a>Salvar Arquivo</a>
      <%= simple_form_for @file, html: { class: "form-container"} do |f| %>
        <%= f.input :title, label: "Titulo", placeholder: "Digite um titulo" %>
        <%= f.input :subject_id, input_html: {value: @subject.id}, as: :hidden %>
        <label class="btn btn-warning">
          <i class="fas fa-file"></i> escolher arquivo
          <span style="display: none;">
            <%= f.input :file, label: "Arquivo" %>
          </span>
        </label>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="25" aria-valuemin="espere" aria-valuemax="100"></div>
        </div>
        <%= f.submit "Salvar Arquivo", class: 'btn btn-pink mt-4' %>
      <% end %>
    </li>
    <div class="horizontal-line mt-2"></div>
    <li>
      <%= link_to "Fale conosco", new_contact_path %>
    </li>
  </ul>
</nav>

