<nav id="sidebar" style="background-color: #008DD5;">
  <%= link_to course_subject_lessons_path(@subject.course_id, @subject) do %>
    <div class="sidebar-header-course">
        <h3 class="mb-0"><%= @subject.title %></h3>
    </div>
  <% end %>
  <ul class="list-unstyled components">
    <% @lessons.each do |lesson| %>
      <li>
        <%= link_to  course_subject_lesson_path(lesson.subject.course_id, lesson.subject_id, lesson), remote: true do %>
          <%= lesson.title %>
          <% if lesson.quizzes.any? %>
            <% count = 0 %>
            <ul class="p-3 bg-opacity ml-2">
              <% lesson.quizzes.each do |quiz| %>
                  <li class="quiz-size d-flex justify-content-between align-items-center">
                    <span class="text-dots">Quiz - <%= quiz.title %></span>
                    <% if quiz.user_answers.where(user: current_user).any? %>
                    <% is_true = quiz.user_answers.where(user: current_user).first.is_true? ? true : false %>
                      <% if is_true %>
                        <i class="fas fa-check-circle color-lightgreen"></i>
                      <% elsif is_true == false %>
                        <i class="fas fa-times-circle color-lightred"></i>
                      <% end %>
                    <% else %>
                      <i class="fas fa-question-circle text-white"> </i>
                      <% count = count + 1 %>
                    <% end %>
                  </li>
                  <div class="lesson-horizontal-line"></div>
              <% end %>
            </ul>
            <% if count != 0 %>
              <p class="quiz-size pl-5 p-0 m-0">restam <span class="color-lightred"><%= count %></span> <%= count > 1? "Quizzes" : "Quiz" %></p>
            <% end %>
          <% end %>
        <% end %>
      </li>
    <% end %>
    <li>
      <%= link_to "Fale conosco", new_contact_path %>
    </li>
  </ul>
</nav>

