<nav id="sidebar">
  <div class="sidebar-header">
      <h3 class="mb-0">Area do Aluno</h3>
  </div>

  <ul class="list-unstyled components">
    <p class="text-center bg-white text-danger">
      <%= link_to "Painel Geral", dashboards_path %>
    </p>
    <li class="active">
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Meus cursos</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <% @enrollments.each do |enroll| %>
          <li>
            <%= link_to enroll.course.title, student_show_path(enroll.course) %>
          </li>
        <% end %>
      </ul>
    </li>
    <% if policy(Wallet).show? %>
    <li>
      <%= link_to user_wallet_path(current_user, current_user.wallet) do %>
        <i class="fas fa-dollar-sign text-yellow"></i>
        MooMoney Bank
      <% end %>
    </li>
    <% end %>
    <li>
      <%= link_to "Tutoriais", tutorials_path %>
    </li>
    <li>
        <%= link_to "Ranking", dashboards_path %>
    </li>
    <li>
      <%= link_to "Fale conosco", new_contact_path %>
    </li>
    <li>
      <% if policy(Enrollment).new? %>
        <%= link_to "Saques Promocionais", exchanges_path, class: "text-warning" %>
        <%= link_to "Depositar", new_deposit_path, class: "text-info" %>
        <%= link_to "Saques", new_withdrawal_path, class: "text-info" %>
        <%= link_to "Acessos", users_path, class: "text-danger" %>
        <%= link_to "Turmas", classrooms_path, class: "text-danger" %>
        <%= link_to "Cadastrar Usuário", new_user_path, class: "text-danger" %>
        <%= link_to "Cadastrar Matrícula", new_enrollment_path, class: "text-danger" %>
      <% end %>
    </li>
  </ul>
</nav>

