<header class="banner-moodev d-flex align-items-center">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center flex-column-reverse flex-sm-row">
      <div class="col-sm-6 text-center mt-2 mt-sm-0">
        <div>
          <button class="btn btn-outline-danger btn-lg">Por que na MooDev?</button>
        </div>
      </div>
      <div class="col-sm-6">
        <%= image_tag "carrinho.png", class: 'img-fluid banner-image' %>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="container-fluid bg-yellow">
    <div class="row p-0 p-sm-4">
      <div class="col-sm-12 text-center mb-5 mt-4 px-0 px-sm-5">
        <h5>OS BENEFÍCIOS DE APRENDER CIÊNCIA DA COMPUTAÇÃO DESDE A INFÂNCIA</h5>
      </div>
      <div class="col-sm-4 px-sm-5 py-4 py-sm-0">
        <div class="benefits-rounded">
          <div>
            <%= image_tag('raciocinioLogico.png', class: 'benefits-img mx-auto d-block') %>
          </div>
          <div class="benefits-box">
            <p class="text-center">Raciocínio Lógico</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 px-sm-5 py-4 py-sm-0">
        <div class="benefits-rounded">
          <div>
            <%= image_tag('focoConcentracao.png', class: 'benefits-img mx-auto d-block') %>
          </div>
          <div class="benefits-box">
            <p class="text-center">Foco e Concentração</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 px-sm-5 py-4 py-sm-0">
        <div class="benefits-rounded">
          <div>
            <%= image_tag('pensamentoComputacional.png', class: 'benefits-img mx-auto d-block') %>
          </div>
          <div class="benefits-box">
            <p class="text-center">Pensamento Computacional e Sistêmico</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-0 p-sm-4">
      <div class="col-sm-4 px-sm-5 py-4 py-sm-0">
        <div class="benefits-rounded">
          <div>
            <%= image_tag('trabalhoEmEquipe.png', class: 'benefits-img mx-auto d-block') %>
          </div>
          <div class="benefits-box">
            <p class="text-center">Cooperação e Trabalho em Equipe</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 px-sm-5 py-4 py-sm-0">
        <div class="benefits-rounded">
          <div>
            <%= image_tag('criatividade.png', class: 'benefits-img mx-auto d-block') %>
          </div>
          <div class="benefits-box">
            <p class="text-center">Criatividade e Empreendedorismo</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 px-sm-5 py-4 py-sm-0">
        <div class="benefits-rounded">
          <div>
            <%= image_tag('inglesFisicaMatematica.png', class: 'benefits-img mx-auto d-block') %>
          </div>
          <div class="benefits-box">
            <p class="text-center">Inglês, Física, Matemática, redação</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid bg-grey">
    <div class="row p-0 p-sm-4">
      <div class="col-sm-12 ">
        <% @courses.in_groups_of(3, false).each do |group| %>
          <div class="row text-center">
            <% group.each do |course| %>
              <div class="col-sm-4 mb-5 mt-4 px-0 px-sm-5">
                <div class="course-card">
                  <img style="background: url(<%= course.photo %>);width:100%;height: 100px;background-size: cover;background-repeat: no-repeat; background-position: 50% 50%;")>
                  <p class="my-2"><%= course.title %></p>
                  <p class="my-2"><%= course.duration %></p>
                  <p class="my-2"><%= link_to 'Saiba mais', course_path(course) %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>
