<header class="banner-moodev d-flex align-items-center">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center flex-column-reverse flex-sm-row">
      <div class="col-sm-6 text-center mt-2 mt-sm-0">
        <div>
          <a href="#benefits" class="btn btn-outline-danger btn-lg">Por que na MooDev?</a>
        </div>
      </div>
      <div class="col-sm-6">
        <%= image_tag "carrinho.png", class: 'img-fluid banner-image' %>
      </div>
    </div>
  </div>
</header>
<section id="benefits">
  <div class="container-fluid bg-yellow">
    <div class="row p-0 p-sm-4">
      <div class="col-sm-12 text-center mb-5 mt-4 px-0 px-sm-5">
        <h5>OS BENEFÍCIOS DE APRENDER CIÊNCIA DA COMPUTAÇÃO DESDE A INFÂNCIA</h5>
      </div>
      <div class="col-sm-4 px-sm-5 py-4 py-sm-0">
        <div class="benefits-rounded">
          <div>
            <%= image_tag('raciocinioLogico.png', class: 'benefits-img mx-auto d-block') %>
          </div>
          <div class="benefits-box">
            <p class="text-center">Raciocínio Lógico</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 px-sm-5 py-4 py-sm-0">
        <div class="benefits-rounded">
          <div>
            <%= image_tag('focoConcentracao.png', class: 'benefits-img mx-auto d-block') %>
          </div>
          <div class="benefits-box">
            <p class="text-center">Foco e Concentração</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 px-sm-5 py-4 py-sm-0">
        <div class="benefits-rounded">
          <div>
            <%= image_tag('pensamentoComputacional.png', class: 'benefits-img mx-auto d-block') %>
          </div>
          <div class="benefits-box">
            <p class="text-center">Pensamento Computacional e Sistêmico</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-0 p-sm-4">
      <div class="col-sm-4 px-sm-5 py-4 py-sm-0">
        <div class="benefits-rounded">
          <div>
            <%= image_tag('trabalhoEmEquipe.png', class: 'benefits-img mx-auto d-block') %>
          </div>
          <div class="benefits-box">
            <p class="text-center">Cooperação e Trabalho em Equipe</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 px-sm-5 py-4 py-sm-0">
        <div class="benefits-rounded">
          <div>
            <%= image_tag('criatividade.png', class: 'benefits-img mx-auto d-block') %>
          </div>
          <div class="benefits-box">
            <p class="text-center">Criatividade e Empreendedorismo</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 px-sm-5 py-4 py-sm-0">
        <div class="benefits-rounded">
          <div>
            <%= image_tag('inglesFisicaMatematica.png', class: 'benefits-img mx-auto d-block') %>
          </div>
          <div class="benefits-box">
            <p class="text-center">Inglês, Física, Matemática, redação</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid bg-white">
    <div class="row p-0 p-sm-4 carousel-block-text">
      <div class="col-sm-12 text-center mt-4 px-0 px-sm-5">
        <h4>DEPOIMENTOS</h4>
      </div>
      <div class="col-sm-12 mb-5 feedback-heigth d-flex justify-content-center align-items-center">
        <!-- Carousel -->
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner text-center px-5">
            <div class="carousel-item active">
              <i class="fas fa-quote-right"></i><i>
              Meu filho está amando. Profissionais muito capazes e um ótimo ambiente
              </i>
              <br>
              <small>Tauana Maurell - Mãe</small>
              <br>
              <% 5.times do %>
                <%= @star %>
              <% end %>
            </div>
            <div class="carousel-item">
              <i class="fas fa-quote-right"></i><i>
              Curso Excelente! Preparando nossas crianças para o futuro, sem perder a magia da infância!! Meu filho está amando.
              </i>
              <br>
              <small>Marcella Bilhalva - Mãe</small>
              <br>
              <% 5.times do %>
                <%= @star %>
              <% end %>
            </div>
            <div class="carousel-item">
              <i class="fas fa-quote-right"></i><i>
              Sou aluno do curso de Desenvolvimento Web para adultos, estou muito satisfeito e impressionado com o resultado obtido em poucas aulas, o professor tem uma excelente didática, desde a primeira aula já pude criar um site, e a cada aula os projetos "Sites", vão se aprofundando de forma gradual, desta forma facilitando o aprendizado.
              </i>
              <br>
              <small>Joezer Smaniotto - Aluno</small>
              <br>
              <% 5.times do %>
                <%= @star %>
              <% end %>
            </div>
          </div>
        </div>
        <!-- end -->
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid bg-darkblue">
    <div class="row p-0 p-sm-4 carousel-block-text d-flex align-items-center">
      <div class="col-sm-8 offset-sm-2 text-center px-0 px-sm-5">
        <h4 class="mb-5">Junte-se a nós, faça uma aula grátis</h4>
        <%= link_to "Quero uma aula gratís", new_test_class_path, class: 'btn btn-lg btn-warning btn-block mt-5 text-white' %>
      </div>
    </div>
  </div>
</section>
<section id="courses">
  <div class="container-fluid bg-grey">
    <div class="row p-0 p-sm-4">
      <div class="col-sm-12 text-center mb-5 mt-4 px-0 px-sm-5">
        <h4>CURSOS</h4>
      </div>
      <div class="col-sm-12 ">
        <% @courses.in_groups_of(3, false).each do |group| %>
          <div class="row text-center">
            <% group.each do |course| %>
              <div class="col-sm-4 px-0 px-sm-5">
                <div class="course-card mb-5">
                  <img style="background: url(<%= cloudinary_url(course.photo, :secure => true)  %>);width:100%;height: 200px;background-size: cover;background-repeat: no-repeat; background-position: 50% 50%;")>
                  <p class="my-2"><%= course.title %></p>
                  <p class="my-2"><%= course.duration %></p>
                  <div class="horizontal-line"></div>
                  <p class="mb-0 p-2 p-link"><%= link_to 'SAIBA MAIS', course_path(course), class: 'text-blue' %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section id="contact">
  <div class="container-fluid bg-white">
    <div class="row p-0 p-sm-4">
      <div class="col-sm-12 text-center mb-5 mt-4 px-0 px-sm-5">
        <h4>Dúvidas? Fale conosco!</h4>
      </div>
      <div class="col-sm-6 px-0 px-sm-2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3392.295655075927!2d-52.344211985157976!3d-31.76242118129023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9511b5a058edbe45%3A0x9f664b13c299f0f5!2sMooDev+-+Escola+de+Ci%C3%AAncia+da+Computa%C3%A7%C3%A3o+e+Rob%C3%B3tica+para+Crian%C3%A7as+e+Adolescentes!5e0!3m2!1spt-BR!2sbr!4v1537936883023" width="100%" height="470" frameborder="0" style="border:0;" allowfullscreen>
        </iframe>
      </div>
      <div class="col-sm-6 px-0 px-sm-2 mb-3">
        <%= simple_form_for @contact, html: { class: "form-container no-borders"} do |f| %>
          <%= f.input :name, label: "Nome", placeholder: "Digite o seu nome" %>
          <%= f.input :email, label: "E-mail", placeholder: "Digite seu e-mail" %>
          <%= f.input :phone, label: "Telefone", placeholder: "Digite se telefone" %>
          <%= f.input :message, as: :text, label: "Mensagem", placeholder: "Digite sua mensagem" %>
          <%= f.submit "Enviar", class: 'btn btn-pink btn-xs-block' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
