<% content_for(:title_tag) do %>
  Cadastrar Matrícula
<% end %>
<% content_for :sidebar do %>
  <div class="wrapper">
    <%= render 'shared/sidebar' %>
   <!-- Page Content -->
    <div id="content-bar">
      <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between align-items-center">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
        </button>
        <span class="dropdown-custom pl-3">
          <span class="btn btn-sm btn-outline-dark dropbtn" onclick="myFunction()">
            Meu perfil
          </span>
          <div id="myDropdown" class="dropdown-menu dropdown-content-custom dropdown-menu-right" style="min-width: 15rem;">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "px-4 py-3 form-group"}) do |f| %>
              <% if !user_signed_in? %>
                <div class="form-inputs">
                <%= f.input :email, required: false, autofocus: true, class: 'form-control', label: 'Login', placeholder: 'usuário ou email' %>
                <%= f.input :password, required: false, input_html: { autocomplete: "current-password" }, class: 'form-control', label: 'Senha', placeholder: 'senha' %>
                <%= f.input :remember_me, class: 'form-control', label: 'Lembrar senha', as: :boolean if devise_mapping.rememberable? %>
                </div>
              <% else %>
                <div class="form-inputs d-flex justify-content-between align-items-center mb-3">
                  <%= cl_image_tag(current_user.photo, class: 'avatar-mini') %>
                  <%= current_user.first_name %>
                </div>
                <div class="form-inputs">
                  <i class="fas fa-briefcase"></i>
                  <%= link_to "Dashboard", dashboards_path%>
                </div>
                <div class="form-inputs">
                  <i class="fas fa-user-edit"></i>
                  <%= link_to "Editar perfil", edit_user_registration_path(current_user)%>
                </div>
              <% end %>
              <div class="form-actions mt-3">
                <% if user_signed_in? %>
                  <%= link_to "Sair", destroy_user_session_path, class: 'btn btn-danger btn-block', method: :delete %>
                <% else %>
                  <%= f.button :submit, "Login", class: 'btn btn-primary btn-block' %>
                  <%= render "devise/shared/links" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </span>
      </nav>
      <section>
        <div class="container-fluid">
          <% if flash[:notice] %>
            <div class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= flash[:notice] %>
            </div>
          <% end %>
          <% if flash[:alert] %>
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= flash[:alert] %>
            </div>
          <% end %>
          <div class="row p-0 p-sm-4">
            <div class="col-sm-12" id="ajax-content">
              <%= render "enrollments/form" %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
<% end %>
