<% content_for :sidebar do %>
    <div class="wrapper">
    <%= render 'shared/sidebar' %>
   <!-- Page Content -->
    <div id="content-bar">
    <%= render 'shared/flashes' %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between align-items-center">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fas fa-align-left"></i>
    </button>
    <span class="dropdown-custom pl-3">
      <span class="btn btn-sm btn-outline-dark dropbtn" onclick="myFunction()">
        Meu perfil
      </span>
      <div id="myDropdown" class="dropdown-menu dropdown-content-custom dropdown-menu-right" style="min-width: 15rem;">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "px-4 py-3 form-group"}) do |f| %>
          <% if !user_signed_in? %>
            <div class="form-inputs">
            <%= f.input :email, required: false, autofocus: true, class: 'form-control', label: 'Login', placeholder: 'usuário ou email' %>
            <%= f.input :password, required: false, input_html: { autocomplete: "current-password" }, class: 'form-control', label: 'Senha', placeholder: 'senha' %>
            <%= f.input :remember_me, class: 'form-control', label: 'Lembrar senha', as: :boolean if devise_mapping.rememberable? %>
            </div>
          <% else %>
            <div class="form-inputs d-flex justify-content-between align-items-center mb-3">
              <%= cl_image_tag(current_user.photo, class: 'avatar-mini') %>
              <%= current_user.first_name %>
            </div>
            <div class="form-inputs">
              <i class="fas fa-briefcase"></i>
              <%= link_to "Dashboard", dashboards_path%>
            </div>
            <div class="form-inputs">
              <i class="fas fa-user-edit"></i>
              <%= link_to "Editar perfil", edit_user_registration_path(current_user)%>
            </div>
          <% end %>
          <div class="form-actions mt-3">
            <% if user_signed_in? %>
              <%= link_to "Sair", destroy_user_session_path, class: 'btn btn-danger btn-block', method: :delete %>
            <% else %>
              <%= f.button :submit, "Login", class: 'btn btn-primary btn-block' %>
              <%= render "devise/shared/links" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </span>
    </nav>
    <section>
      <div class="container-fluid bg-grey">
        <div class="row p-0 p-sm-4">
          <div class="col-sm-12 text-center mb-3 mt-4 px-0 px-sm-5">
            <h4><%= @course.title %></h4>
          </div>
          <div class="col-sm-12" id="ajax-content">
            <div class="row">
              <div class="col-sm-12 px-0 px-sm-2">
                <div class="course-card mb-5" id="inside-ajax">
                  <div class="row">
                    <div class="col-sm-12 px-0 px-sm-2" id="hide-form">

                        <div>
                          <% colors = ['background-color: #373F51;','background-color: #ECB5D3;','background-color: #FFDE17;','background-color: #008DD5;', 'background-color: #DB5461;', 'background-color: #72BDA3;'] %>
                          <% @course.subjects.in_groups_of(4, false).each do |group| %>
                            <div class="row text-center d-flex justify-content-start">
                              <% group.each do |subject| %>
                                <div class="col-3">
                                  <%= link_to course_subject_lessons_path(subject.course.slug, subject.slug) do %>
                                    <div class="subjects-box mx-auto my-3 subjects-p" style="<%= colors[rand(0..5)] %>">
                                      <p class="text-white mb-0 subjects-p">
                                        <%= subject.title %>
                                      </p>
                                    </div>
                                  <% end %>
                                  <% if policy(Lesson).create? %>
                                    <%= link_to "Cadastrar Lições", new_course_subject_lesson_path(subject.course_id, subject.id, @lesson), remote: true %>
                                  <% end %>
                                </div>
                              <% end %>
                            </div>
                          <% end %>
                          <% if current_user.admin? %>
                            <div class="row mb-4">
                              <div class="col-sm-6 offset-sm-3">
                                <%= simple_form_for [@course, @subject] do |f| %>
                                  <%= f.input :title, label: 'Matéria', placeholder: 'Digite o título' %>
                                  <%= f.submit 'Criar matéria', class: 'btn btn-info' %>
                                <% end %>
                              </div>
                            </div>
                          <% end %>
                        </div>

                    </div>
                  </div>

                <!-- ajax -->
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
  </div>
<% end %>




