<% content_for :sidebar do %>
  <div class="container-fluid navbar-moodev">
    <div class="row p-3">
      <div class="col-sm-12 d-flex justify-content-between align-items-center">
        <%= link_to root_path do %>
          <%= image_tag "http://res.cloudinary.com/fabiobarboza7/image/upload/moodev-weblogo-pelotas.png", class: 'logo' %>
        <% end %>
        <nav class="nav-a mx-2 d-none d-sm-block">
          <%= link_to "Home", root_path, class: "px-2"%>
          <%= link_to "Blog", blogs_path, class: "px-2"%>
          <%= link_to "Cursos", "#courses", class: "px-2"%>
          <%#= link_to "Videos", "#videos", class: "px-2"%>
          <%= link_to "Contato", "#contact", class: "px-2"%>
          <%= link_to "https://api.whatsapp.com/send?phone=5553984541340&text=Ol%C3%A1,%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20curso.", class: "px-2" do %>
            Envie um WhatsApp
            <i style="color: #0EC144;" class="fab fa-whatsapp"></i>
          <% end %>
          <%= link_to "Aula Grátis", aula_gratis_path, class: "px-2 text-yellow"%>
        </nav>
        <div class="dropdown-custom d-block d-sm-none" onclick="myFunctionXs()">
          <a class="fas fa-bars fa-2x">
          </a>
          <div id="myDropdownXs" class="dropdown-menu dropdown-content-custom dropdown-menu-right">
            <%= link_to "Home", root_path, class: "dropdown-item"%>
            <%= link_to "Blog", blogs_path, class: "dropdown-item"%>
            <%= link_to "Cursos", "#courses", class: "dropdown-item"%>
            <%#= link_to "Videos", "#videos", class: "dropdown-item"%>
            <%= link_to "Contato", "#contact", class: "dropdown-item"%>
            <%= link_to "Envie um WhatsApp", "https://api.whatsapp.com/send?phone=5553984541340&text=Ol%C3%A1,%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20o%20curso.", class: "px-2 dropdown-item"%>
            <%= link_to "Aula Grátis", aula_gratis_path, class: "dropdown-item text-yellow"%>
            <div class="mt-1"></div>
            <%= link_to "Acesso do Aluno", new_user_session_path, class: "dropdown-item dropdown-divider-color"%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <header class="banner-moodev d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="col-sm-6 offset-sm-3">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-container"}) do |f| %>
          <div class="form-inputs">
            <%= f.input :login,
                        required: false,
                        autofocus: true, class: 'form-control' %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" }, class: 'form-control' %>
            <%= f.input :remember_me, class: 'form-control', as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <% if user_signed_in? %>
              <%= render "devise/shared/links" %>
            <% else %>
              <%= f.button :submit, "Login", class: 'btn btn-primary btn-block' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </header>
<% end %>
