<div class="row">
  <div class="col-12 col-sm-6">
    <div class="p-4 bg-white rounded">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <%= cl_image_tag(@user.photo, class: 'avatar') %>
        <p class="mb-0">Carteira: <%= number_to_currency_br(current_user.wallet.money) %> moos <i class="far fa-money-bill-alt"></i></p>
      </div>
      <p>Minha posição no ranking:</p>
      <p>9º <%= "#{@user.first_name} #{@user.last_name}" %></p>
    </div>
  </div>
  <div class="col-12 col-sm-6 rounded my-2 my-sm-0">
    <div class="p-4 bg-white rounded">
      <p class="text-yellow">Ranking</p>
      <ul class="list-group">
        <% @users.each do |user_rank| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="badge bg-darkblue text-yellow badge-pill"><%= user_rank.score %></span>
            <%= user_rank.first_name %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
