<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title_tag).blank? ? "MooDev - Ciência da Computação e Robótica" : yield(:title_tag) %></title>
    <%= favicon_link_tag 'logo-rounded.png' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="theme-color" content="#008DD5">
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => "reload" %>
    <script type="text/javascript">
      Chartkick.configure({language: "pt-BR"});
    </script>
    <script src="https://cdn.jsdelivr.net/gh/jquery-form/form@4.2.2/dist/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
  </head>

  <body>

      <% if content_for?(:sidebar) %>
        <%= yield :sidebar %>
      <% else %>
        <div class="content">
          <%= render 'shared/navbar' %>
          <%= render 'shared/flashes' %>
          <%= yield %>
        </div>
      <% end %>
        <%= render'shared/footer' %>

  </body>
</html>
